
<!-- Vertical navbar -->
<%= navbar_render %>

<!-- Page contents -->
<div class='container' id='content'>
    <div id='introduction'>
        <h1>Welcome to <span class='text-primary'>CookingPotatoes</span></h1>
        <p>Login to add recipes or rate recipes.</p>
    </div>
</div>

