/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Tweak variables here please!
:root {
  --sidebar_width: 15vw;
  --sidebar_lr_padding: 1.2vw;
}

// Global font size and background color
html {
    font-size: calc(0.8vw + 0.45vh);

} 


// Left sidebar containing buttons and links
#sidebar {
    width: var(--sidebar_width);
    height: 100vh;
    position: fixed;   // Ensure sidebar stays fixed on scroll
    top: 0;
    left: 0;           // Ensure sidebar is at top left of screen
    padding-top: 5vh;
    padding-left: var(--sidebar_lr_padding);
    padding-right: var(--sidebar_lr_padding);
    z-index: 100;
}

#top-nav {
    top: 0;
    height: 10vh;
}

#bottom-nav {
    padding-top: 10vh;
    top: 10vh;
}

.sidebar-btn {
    width: 12vw;
    height: 6vh;
}

// All content on the actual page should be here!
#content {
    margin-left: calc(var(--sidebar_width));
    padding-top: 5vh;
    padding-left: 3vw;
    height: 100vh;
    overflow: scroll;
    width: calc(100vw - var(--sidebar_width));
}

// Home page
#introduction {
}


// Recipe list page
.recipe-box-btn {
    width: 0px;
    height: 0px;
}

#recipe-header {
    position: relative;
}

#recipe-grid {
    padding-top: 3vh;
}

.recipe-box {
    height: 10vh;
    width: 10vw;
    z-index: 0;
    margin-bottom: 2vh;
    position: relative;
    text-decoration: none;
}

.recipe-box-name {
    position: relative;
    top: -0.6rem;
    font-size: calc(0.65vw + 0.4vh);
}

.recipe-box-creator {
    position: absolute;
    bottom: 0.08rem;
    color: #DE4A3F;
}

.recipe-box-hover {
    display: none;
    position: absolute;
    z-index: 50;
    width: 15vw;
    height:35vh;
}

.recipe-box-hover-name {
    margin-bottom: 0.5rem;
}

.recipe-box-hover-creator {
    margin-bottom: 0.4rem;
}

.recipe-box-hover-tag {
    background-color: RoyalBlue;
    padding: 0.2rem;
    color: White;
    width: 1.5rem;
}

.recipe-box-hover-description {
    text-overflow: ellipsis;
    margin-top: 0.4rem;
    width: 10vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.recipe-box-hover-next {
    bottom: -1vh;
    position: absolute;
}

// Recipe show page


