/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Tweak numbers here please!
:root {
  --sidebar_width: 15vw;
  --sidebar_lr_padding: 1vw;
}

html {
    font-size: 2.1vmin;
} 

#sidebar {
    width: var(--sidebar_width);
    height: 100vh;
    position: fixed;   // Ensure sidebar stays fixed on scroll
    top: 0;
    left: 0;           // Ensure sidebar is at top left of screen
    padding-top: 5vh;
    padding-left: var(--sidebar_lr_padding);
    padding-right: var(--sidebar_lr_padding);
    z-index: 100;
}

#content {
    margin-left: var(--sidebar_width);
    padding-top: 5vh;
}

#recipe-header {
    position: relative;
    left: 0.4rem;
}

#top_nav {
    top: 0;
    height: 10vh;
}

#bottom_nav {
    padding-top: 10vh;
    top: 10vh;
}

.recipe-box {
    height: 10vh;
    width: 25vh;
    margin: 0.4rem;
    z-index: 0;
    position: relative;
}

.recipe-box-name {
    position: relative;
    top: -0.5rem;
    font-size: 2vh;
}

.recipe-box-creator {
    position: absolute;
    bottom: 0.1rem;
}

.recipe-box-hover {
    display: none;
}
